## Config for experiments

env: BabyAI-BossLevel-v0
wrapper: LanguageWrapper
wrapper_kwargs:
  max_len: 42
  pad: true

time_limit: 450

alg: BehaviorCloning
alg_kwargs:
  dataset: datasets/
  validation_dataset: datasets/
  dataset_fraction: 1.0
  batch_size: 32
  optim_kwargs:
    lr: 0.0001
    eps: 0.00000001
  pretraining: False
  lang_coeff: 0.0 # FiLM Model does not support language instructions
  unsup_coeff: 0.0 # FiLM Model does not support unsuprvised learning

train_kwargs:
  total_steps: 1000000
  log_freq: 1000
  eval_ep: 100
  eval_freq: 10000
  validation_metric: action_accuracy

network: BabyAIModel
